__pycache__/
*.py[cod]
.venv/
venv/
.dist/
client/node_modules
server/node_modules
server/uploads/*
server/doctor-panel/medidash.db
server/doctor-panel/medidash.db-shm
server/doctor-panel/medidash.db-wal
